client/.next/build-manifest.json
client/.next/package.json
client/.next/react-loadable-manifest.json
client/.next/trace
client/.next/cache/webpack/client-development/0.pack
client/.next/cache/webpack/client-development/1.pack
client/.next/cache/webpack/client-development/index.pack
client/.next/cache/webpack/client-development/index.pack.old
client/.next/cache/webpack/server-development/0.pack
client/.next/cache/webpack/server-development/1.pack
client/.next/cache/webpack/server-development/index.pack
client/.next/cache/webpack/server-development/index.pack.old
client/.next/server/_error.js
client/.next/server/middleware-build-manifest.js
client/.next/server/middleware-manifest.json
client/.next/server/middleware-react-loadable-manifest.js
client/.next/server/next-font-manifest.js
client/.next/server/next-font-manifest.json
client/.next/server/pages-manifest.json
client/.next/server/webpack-runtime.js
client/.next/server/pages/_app.js
client/.next/server/pages/_document.js
client/.next/server/pages/_error.js
client/.next/server/pages/index.js
client/.next/static/chunks/_error.js
client/.next/static/chunks/amp.js
client/.next/static/chunks/main.js
client/.next/static/chunks/polyfills.js
client/.next/static/chunks/react-refresh.js
client/.next/static/chunks/webpack.js
client/.next/static/chunks/pages/_app.js
client/.next/static/chunks/pages/_error.js
client/.next/static/chunks/pages/index.js
client/.next/static/development/_buildManifest.js
client/.next/static/development/_ssgManifest.js
client/.next/static/webpack/020ee6840038ebf8.webpack.hot-update.json
client/.next/static/webpack/991f1e636fc72549.webpack.hot-update.json
client/.next/static/webpack/amp.020ee6840038ebf8.hot-update.js
client/.next/static/webpack/d93c3e411f55e3e6.webpack.hot-update.json
client/.next/static/webpack/main.020ee6840038ebf8.hot-update.js
client/.next/static/webpack/webpack.020ee6840038ebf8.hot-update.js
client/.next/static/webpack/webpack.991f1e636fc72549.hot-update.js
client/.next/static/webpack/webpack.d93c3e411f55e3e6.hot-update.js
